server:
  port: 8083

spring:
  application:
    name: matching-service
  datasource:
    url:
    driverClassName:
    username:
    password: 
  jpa:
    hibernate:
      ddl-auto: update
  data:
    redis:
      host:
      port:
  kafka:
    bootstrap-servers: 192.168.1.100:9092
    producer:
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      properties:
        enable.idempotence: true
        linger.ms: 50 # 메시지를 모아서 보내는 시간
        batch.size: 131072 # 128KB
        buffer.memory: 33554432 # 32MB
        request.timeout.ms: 30000
    consumer:
      group-id: matching-service-group
      auto-offset-reset: earliest
      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.use.type.headers: true
        spring.json.trusted.packages: "*"
        max.poll.records: 500
        spring.json.type.mapping: >
          com.example.trip_service.kafka.dto.TripCompletedEvent:com.example.matching_service.dto.kafka.TripCompletedEvent,
          com.example.trip_service.kafka.dto.TripCanceledEvent:com.example.matching_service.dto.kafka.TripCanceledEvent
    listener:
      ack-mode: RECORD

resilience4j:
  circuitbreaker:
    instances:
      geospatial-service:
        failure-rate-threshold: 50
        minimum-number-of-calls: 10
        sliding-window-type: count-based
        sliding-window-size: 100
        wait-duration-in-open-state: 30s
        permitted-number-of-calls-in-half-open-state: 5
  timelimiter:
    instances:
      geospatial-service:
        timeout-duration: 1s
        cancel-running-future: true

services:
  location-service:
    url: http://geospatial-service

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  tracing:
    sampling:
      probability: 1.0